{% extends 'homepage/layout.html' %}
{% block title %} Ubah Game {% endblock %}
{% block content %}
<div class="container">
    <div class="d-flex align-items-center justify-content-between">
        <h1>Edit Game: {{ game.title }}</h1>
        <a href="{% url 'GameList' %}" class="btn btn-secondary">Kembali</a>
    </div>
    <form class="needs-validation" method="POST" enctype="multipart/form-data">  <!-- Tambahkan enctype untuk upload file -->
        {% csrf_token %}
        {% include 'games/form.html' %}
    </form>
</div>
{% endblock %}
