{% extends 'homepage/layout.html' %} {% block title %} About {% endblock %}
{%block content %}
<div style="margin: 0 100px; text-align: center">
  <h1 style="margin-bottom: 20px; margin-top: 40px">
    We make games last forever
  </h1>
  <h5 style="color: black; margin: 0 100px">
    A home for building and playing your curated game collection, ArcadiaGames is a
    digital distribution platform that puts gamers first and respects their need
    to own games.
  </h5>

  <div style="border-bottom: 1px solid #000; margin-top: 20px"></div>

  <h1 style="margin-bottom: 20px; margin-top: 40px; color: rgb(80, 80, 208)">
    Hand-picking the best in gaming
  </h1>
  <h5 style="color: black; margin: 0 100px; margin-bottom: 20px">
    A selection of great DRM-free games, from modern hits to all-time classics,
    that you really shouldn't miss.
  </h5>

  <div class="container text-center">
    <div class="row" style="margin: 0 100px;">
      <div class="col">
        <div class="fw-bold" style="color: rgb(80, 80, 208); margin-bottom: 8px;"></p>
            A curated selection of games
        </div>
        <p style="color: black">
            From exceptional AAAs, unique indies to the best of classic gaming.
            Every game is here because we chose it for you.
        </p>
      </div>

      <div class="col">
        <div class="fw-bold" style="color: rgb(80, 80, 208); margin-bottom: 8px;"></p>
            Feeding your inner collector
        </div>
        <p style="color: black">
            Offering games with as many goodies as possible is the ArcadiaGames way - even if it means exploring our long forgotten basements and attics.
        </p>
      </div>

      <div class="col">
        <div class="fw-bold" style="color: rgb(80, 80, 208); margin-bottom: 8px;"></p>
            Respecting game creators
        </div>
        <p style="color: black">
            When you're with us, you can be sure that all games are legitimate, and your purchases support rightful owners and creators.
        </p>
      </div>
    </div>

    <div class="row" style="margin: 0 100px; ; margin-bottom: 8px;">
      <div class="col">
        <div class="fw-bold" style="color: rgb(80, 80, 208); margin-bottom: 8px;"></p>
            Respecting game creators
        </div>
        <p style="color: black">
            When you're with us, you can be sure that all games are legitimate, and your purchases support rightful owners and creators.
        </p>
      </div>

      <div class="col">
        <div class="fw-bold" style="color: rgb(80, 80, 208); margin-bottom: 8px;"></p>
            Every game deserves to shine
        </div>
        <p style="color: black">
            As much attention we're giving to picking great games, the same goes for highlighting them on ArcadiaGames - treating each release as a celebration.
        </p>
      </div>
    </div>
  </div>

  <div style="border-bottom: 1px solid #000; margin-top: 20px"></div>

  <h1 style="margin-bottom: 20px; margin-top: 40px; color: rgb(225, 222, 69)">
    Customer-first approach
  </h1>
  <h5 style="color: black; margin: 0 100px; margin-bottom: 20px">
    Delivering a user-friendly support enriched with additional customer benefits.
  </h5>

  <div class="container text-center">
    <div class="row" style="margin: 0 100px;">
      <div class="col">
        <div class="fw-bold" style="color: rgb(225, 222, 69); margin-bottom: 8px;"></p>
            Stellar support
        </div>
        <p style="color: black">
            We bring you the comfort in knowing that anytime you need help, we're right here for you. Our customer support team works in-house round-the-clock solving all games-related issues.
        </p>
      </div>

      <div class="col">
        <div class="fw-bold" style="color: rgb(225, 222, 69); margin-bottom: 8px;"></p>
            No risk, full refunds
        </div>
        <p style="color: black">
            Feel safe and satisfied about your purchases. If a game doesn't work as you expected, get your money back with our full refund policy within 30 days of purchase - no strings attached.
        </p>
      </div>

      <div class="col">
        <div class="fw-bold" style="color: rgb(225, 222, 69); margin-bottom: 8px;"></p>
            Direct contact with ArcadiaGames Team
        </div>
        <p style="color: black">
            Have a question, need help or you just want to talk about great PC games? Reach out on ArcadiaGames forums, tweet at us or drop us a message on Facebook, and we'll get back to you.
        </p>
      </div>
    </div>
  </div>

  <div style="border-bottom: 1px solid #000; margin-top: 20px"></div>

  <h1 style="margin-bottom: 20px; margin-top: 40px; color: rgb(67, 225, 49)">
    More
  </h1>
  <h5 style="color: black; margin: 0 100px; margin-bottom: 20px">
    Making a difference how you buy and play games, with freedom of choice and a hassle-free experience.
  </h5>

  <div class="container text-center">
    <div class="row" style="margin: 0 100px;">
      <div class="col">
        <div class="fw-bold" style="color: rgb(67, 225, 49); margin-bottom: 8px;"></p>
            Owning the things you buy
        </div>
        <p style="color: black">
            We don't believe in controlling you and your games. Here, you won't be locked out of titles you paid for, or constantly asked to prove you own them - this is DRM-free gaming.
        </p>
      </div>

      <div class="col">
        <div class="fw-bold" style="color: rgb(67, 225, 49); margin-bottom: 8px;"></p>
            An optional gaming client
        </div>
        <p style="color: black">
            ArcadiaGames GALAXY is the optional client to install & update ArcadiaGames games, with features like cloud saves, update roll-backs, achievements, and is a convenient way to manage your cross-platform library while staying in touch with friends.
        </p>
      </div>

      <div class="col">
        <div class="fw-bold" style="color: rgb(67, 225, 49); margin-bottom: 8px;"></p>
            Going the extra mile
        </div>
        <p style="color: black">
            We're a company of gamers and we build ArcadiaGames as a platform we, as gamers, want to use - hence our unique approach to games ownership, selection of the best in gaming, probably the best refund policy and more.
        </p>
      </div>
    </div>
  </div>

</div>

<div class="card" style="background-color: #393e46; border-radius: 0; margin-top: 30px;">
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p style="padding: 0 100px; font-size: 13px; color: white;  text-align: center;">ArcadiaGames is the place to build and play your collection of Good Old Games and modern hits. With our gamer-first approach and respecting your need for ownership, we're here to make games last forever.</p>
        <footer class="blockquote-footer" style="padding: 0 100px; text-align: center;">Copyright © 2024 DhimasEko</footer>
      </blockquote>
    </div>
  </div>
{% endblock %}
